body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

div {

  border-radius: 5px;
}

.answersTabs {
  margin-top: 2%;
  width: 74%;
  text-align: center;
  margin-left: 13%;
}

.miniAvatar {
  width: 45px
}

.mediumAvatar {
  width: 100px
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 100%;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

li {
  list-style-type: none;
  text-decoration: none;
}

ul {
  padding-inline-start: 0px;
}

div.outer {
  display: table;
  width: 70%;
  margin: 2% 13% 2% 13%;
  padding: 2%;
  background: #e6f5ff;
}
div.middle {
  display: table-row;
  width: 100%;
  text-align: center;
}
div.inner {
  display: table-cell;
  width: 50%;
}

/*
  answered / unanswered poll:
*/

.pollOuter {
  display: table;
  width: 70%;
  margin: 2% 13% 2% 13%;
  padding: 2%;
  background: #e6f5ff;
}
.pollMiddle {
  display: table-row;
  width: 100%;
  text-align: center;
}
.pollInnerLeft {
  display: table-cell;
  width: 36%;
}
.pollInnerRight {
  display: table-cell;
  width: 64%;
}

/*
  answered / unanswered poll [end]
*/


.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.dashboardQuestion {
  border: solid 1px gray;
  text-align: left;
  padding: 2%;
}

.genericCenterContainer {
  width: 100%;
  text-align: center;
}

.unansweredPoll {
  width: 70%;
  display: inline-block;
}

.centerContainerElement {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  padding-left: 10px;
}

.darkerBackground {
  background: #b3e0ff;
}

.creatQuestionLabel {
  padding: 10px;
}

.questionsContainer {
  width: 100%;
  text-align: center;
}

.questions {
  width: 90%;
  display: inline-block;
}

.questionContainer {text-align: center;
  width: 76%;
  background: #e6f5ff;
  margin: 0% 12% 2% 12%;
}

.question {
  display: inline-block;
  vertical-align: middle;
  width: 44%;
  margin: 3%;
}

.pollQuestionContainer {text-align: center;
  width: 76%;
  background: #e6f5ff;
  margin: 0% 12% 2% 12%;
}

.pollQuestion {
  display: inline-block;
  vertical-align: middle;
  width: 44%;
  margin: 3%;
}

.verticalAlignMiddle {
  vertical-align: middle;
}

.containerWithTextOnTheLeft {
  text-align: left;
}

.questionDate {
  font-size: small;
  text-align: right;
  color: grey;
}

.answerTab {
  width: 48%;
  padding: 1%;
  display: inline-block;
  text-align: center;
  background-color: #99d6ff;
}

.activeAnswerTab {
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: large;
  border-radius: 5px;
  background: #4db8ff;
}

.nav {
  background: #33adff;
  color: white;
}

.navUserSection {
  display: inline-block;
  padding-right: 10px;
  font-weight: bold;
  float: right;
}

.logOutBtn {
  font-weight: bold;
}

.answeredOption {
  background-color: #b3ccff;
  border: 2px solid #003366;
}
